nav {
  background-image: url("https://t4.ftcdn.net/jpg/05/19/11/67/360_F_519116795_BUkRcjsI2t4O8ygTsRplerorxh5gqdYQ.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
main {
  background-image: url("");
}
